label.error {
    color: red;
}

label.required::after {
	content: ' *';
	color: red;
}

.required, .error {
    border-color: red !important;
}

.message-container {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
}

.confirm-header {
	background-color: #337ab7;
}

.slider-selection {
	background: #0AA2F4;
}

.slider-handle.custom {
	background: transparent none;
	background: url("../images/ByteCoin.png") 0px 0px/20px 20px;
}

.slider-handle.custom::before {
	color: transparent;
}

.slider-value {
	margin: 0 0 10px;
	font-size: 13px;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
}

.progress {
	background-color: #aaa;
	-webkit-box-shadow: black;
	box-shadow: black;
  }

.material-icons {
  vertical-align: middle;
}

.card-columns {
  column-count: 1;
}

.table-responsive>table>thead>tr>th, .table-responsive>table>tbody>tr>td {
  white-space: nowrap;
}

.displayArea {
  margin: 0 auto;
  max-width: 320px;
  display: block;
}

.navbar {
  margin-bottom: 20px;
}
