body {
	max-width: 500px;
	margin: auto;
	padding: 10px;
	font-family:calibri, arial, sans-serif;
}

.aligned_controls>label {
	display: inline-block;
	float: left;
	clear: left;
	text-align: right;
	width: auto;
	margin: 2px;
}

.aligned_controls>input, .aligned_controls>select {
	display: inline-block;
	float: right;
	clear: right;
}

.aligned_controls>textarea {
	width: 100%;
}

.stack_row, #autonmous_container {
	display: none;
	vertical-align: middle;
}

.submit_button {
	height: 35px;
	width: 100%;
	margin-top: 5px;
	margin: 2px;
	background-color: #2DBFE0;
	color: white;
}

input[type=submit] {
	-webkit-appearance: none;
	-webkit-border-radius:0;
}

.submit_class_container {
	margin-top: 10px;
}

.add_button {
	width: 80%;
	border-color: #999999;
	background-color: #CBCBCB;
}

#stack_row_container {
	text-align: center;
}

.stack_row_divider {
	margin: 4px 4px 4px 4px;
}

#delete_button {
	color: red;
	width: 15px;
	position: relative;
	top: 2px;
}

fieldset {
	background-color: #EFFFEF;
	border-color: #2DBFE0;
	border-radius: 5px;
	box-shadow: 3px 3px 5px #8888AA;
}

#totes_auto, #coopertition_totes {
	background-color: yellow;
}

.cans_dropdown {
	background-color: #50E050;
}

.totes_dropdown {
	background-color: #CBCBCB;
}

.results_row {
	height: 48px;
}

.results_row:hover {
	background-color: #B8D1F3;
	cursor: pointer;
}

#range_value {
	display: inline-block;
	float: right;
}

.team_comment {
	border: #4E95F4 1px solid;
	background-color: #ECECEC;
}

.team_row {
	height: 48px;
}

.link {
	color: -webkit-link;
	text-decoration: underline;
	cursor: pointer;
}

:invalid {
	border-color:red;
	border-radius:5px;
}

img {
	max-width:100%;
}

#left_arrow {
	float: left;
	cursor: pointer;
	color: -webkit-link;
	text-decoration: underline;
	display: block;
}

#right_arrow {
	float: right;
	cursor: pointer;
	color: -webkit-link;
	text-decoration: underline;
	display: block;
}

.pit_link {
	float: right;
	display: inline;
}

.page_header {
	display: inline;
}

#pic_credit {
	margin-top: 0px;
}

textarea {
	width:100%;
}





