<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6">
			<input type="number" class="form-control" ng-model="teamNumber" placeholder="Team Number" />
		</div>
		<div class="col-lg-6">
			<button class="form-control" ng-click="adminAction('update_team')">Reset Team Info</button>
		</div>
	</div>
	<div class="col-xs-12" style="height:30px;"></div>
	<div class="row">
		<div class="col-lg-6">
			<input type="number" class="form-control" ng-model="matchNumber" placeholder="Match Number" />
		</div>
		<div class="col-lg-6">
			<button class="form-control" ng-click="adminAction('update_wagers')">Update Wagers for Match</button>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button class="form-control" ng-click="adminAction('flush_schedule')">Update Match Schedule</button>
		</div>
	</div>
</div>
