<div class="container-fluid">
	<div class="card-columns">
		<div class="card">
			<h5 class="card-header">Event Information</h5>
			<div class="card-body">
				<div class="form-group">
					<div class="input-group">
						<input type="number" class="form-control" ng-model="teamNumber" placeholder="Team Number" />
						<div class="input-group-append">
							<button class="btn btn-outline-dark" type="button" ng-click="adminAction('update_team')">Reset Team Info</button>
						</div>
					</div>
				</div>
				<button class="btn btn-outline-dark btn-block" type="button" ng-click="adminAction('flush_schedule')">Update Match Schedule</button>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header">Team Validation</h5>
			<div class="card-body">
				<label for="#updateTeamValidation">Current setting: {{prettySettings.validateTeams}}</label>
				<button type="button" class="btn btn-success btn-block" ng-click="adminAction('updateSettings', 'validateTeams', 'true')">Enable team validation</button>
				<button type="button" class="btn btn-danger btn-block" ng-click="adminAction('updateSettings', 'validateTeams', 'false')">Disable team validation</button>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header">Wagering</h5>
			<div class="card-body">
				<div class="form-group">
					<div class="input-group">
						<input type="number" class="form-control" ng-model="matchNumber" placeholder="Match Number" />
						<div class="input-group-append">
							<button class="btn btn-outline-dark" type="button" ng-click="adminAction('update_wagers')">Update Wagers for Match</button>
						</div>
					</div>
				</div>
				<label for="#updateEnableCasino">Current setting: {{prettySettings.enableCasino}}</label>
				<button class="btn btn-success btn-block" type="button" ng-click="adminAction('updateSettings', 'enableCasino', 'true')">Enable wagering</button>
				<button class="btn btn-danger btn-block" type="button" ng-click="adminAction('updateSettings', 'enableCasino', 'false')">Disable wagering</button>
			</div>
		</div>
		<div class="card">
			<h5 class="card-header">Scouting position</h5>
			<div class="card-body">
				<label for="#updateBlue1Closest">Current setting: Alliance Blue 1 is {{prettySettings.blue1Closest}}</label>
				<button class="btn btn-success btn-block" ng-click="adminAction('updateSettings', 'blue1Closest', 'true')" type="button">Set position 1 to closest</button>
				<button class="btn btn-danger btn-block" ng-click="adminAction('updateSettings', 'blue1Closest', 'false')" type="button">Set position 1 to farthest</button>
			</div>
		</div>
	</div>
</div>
