<div class="well well-lg">
	<div class="list-group">
		<div ng-show='ballsScored.length == 0'>
			<p class='help-block'>So they didn't score any boulders?</p>
		</div>
		<div ng-repeat="ball in ballsScored">
			<li class="list-group-item">
				<button type='button' class='btn badge' ng-click='ballsScored.splice(ballsScored.indexOf(ball), 1);'><span class='glyphicon glyphicon-remove'></span></button>
				{{ball.goal}} goal
			</li>
		</div>
	</div>
	<div class="row">
		<button class='col-xs-4 btn col-xs-offset-1' ng-click="ballsScored.push({goal: 'High'})" type='button'>Add high goal</button>
		<button class='col-xs-4 btn col-xs-offset-2' ng-click="ballsScored.push({goal: 'Low'})" type='button'>Add low goal</button>
	</div>
</div>
