<div id="match-modal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Match Selector</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div ng-show="matches.length > 0">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center">Match #</th>
                                    <th class="text-center">Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="match in matches" ng-click="selectTeam(match.number, match.team)">
                                    <td class="text-center">{{match.number}}</td>
                                    <td class="text-center" role="button">{{match.team}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="fullMatches.length == 0">
                    <h4>No matches to display at this time</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form id="scouting_form" enctype="multipart/form-data" ng-submit="submit()">
        <div class="card-columns">

            <!-- Basic information panel: -->
            <div class="card">
                <h5 class="card-header">
                    Match info
                    <br>
                    <small class="text-muted">Scouting as {{user.name}} for team {{user.teamNumber}}</small>
                </h5>
                <div class="card-body">
                    <div ng-if="!settings.validateTeams">
                        <div class="form-group">
                            <label for="teamNumber">Team number</label>
                            <input ng-model="formData.teamNumber" class="form-control" type='number' name='teamNumber' id='teamNumber' placeholder='Enter the team number'
                                required>
                        </div>
                        <label for="matchNumber">Match number</label>
                        <input ng-model="formData.matchNumber" type="number" class="form-control" id="matchNumber" placeholder="Enter the match number"
                            required>
                    </div>
                    <div ng-if="settings.validateTeams">
                        <div ng-show="!validatorIncorrect">
                            <div class="form-group">
                                <label for="selectedRobotPos">Select the position you're scouting for</label>
                                <select required id="selectedRobotPos" class="form-control custom-select" name="selectedRobotPos" ng-model="selectedRobotPos" ng-change="loadTeams(selectedRobotPos)" ng-options="selectedRobotPos for selectedRobotPos in robotPos">
                                    <option style="display:none" value="">Select a robot position</option>
                                </select>
                            </div>

                            <button ng-if="selectedRobotPos" class="btn btn-block btn-primary" id="matchChooser" name="matchChooser" type="button" data-toggle="modal" data-target="#match-modal">Choose a match</button>

                            <div ng-show="selectedTeam">
                                <table class="table table-bordered table-sm" style="margin-bottom: 0%; margin-top: 1rem">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Match Number</th>
                                            <th class="text-center">Team Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">{{formData.matchNumber}}</td>
                                            <td class="text-center">{{formData.teamNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Autonomous panel: -->
            <div class="card">
                <h5 class="card-header">Autonomous</h5>
                <div class="card-body">
                    <div class="custom-control custom-checkbox form-group">
                        <input type="checkbox" class="custom-control-input" ng-model="formData.autoCheck" id="autoCheck">
                        <label class="custom-control-label" for="autoCheck">Did the robot cross the Autonomous line?</label>
                    </div>
                    <div class="form-group">
                        <label for="switchCounter">Cubes placed on alliance switch</label>
                        <div class="input-group" name="switchCounter">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark" type='button' ng-click="decrementAW()">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                            <input ng-model="formData.autoSwitch" type="number" id="autoSwitch" class="form-control width100">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type='button' ng-click="incrementAW()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <label for="scaleCounter">Cubes placed on alliance scale</label>
                    <div class="input-group" name="scaleCounter">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-dark" type='button' ng-click="decrementAS()">
                                <i class="material-icons">remove</i>
                            </button>
                        </div>
                        <input ng-model="formData.autoScale" type="number" id="autoScale" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark" type='button' ng-click="incrementAS()">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Teleop Panel: -->
            <div class="card">
                <h5 class="card-header">Teleop</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label for="switchCubes">Cubes placed on alliance switch</label>
                        <div class="input-group" name="switchCubes">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark" type='button' ng-click="decrementWC()">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                            <input ng-model="formData.switchCubes" type="number" class="form-control width100">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type='button' ng-click="incrementWC()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="scaleCubes">Cubes placed on alliance scale</label>
                        <div class="input-group" name="scaleCubes">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark" type='button' ng-click="decrementSC()">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                            <input ng-model="formData.scaleCubes" type="number" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type='button' ng-click="incrementSC()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="teleCubeStack" ng-model="formData.teleCubeStack" type="checkbox">
                            <label class="custom-control-label" for="teleCubeStack">Did the robot place a cube on top of another cube in the scale?</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="enemySwitchCubes">Cubes placed on enemy switch</label>
                        <div class="input-group" name="enemySwitchCubes">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark" type='button' ng-click="decrementEC()">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                            <input ng-model="formData.enemySwitchCubes" type="number" class="form-control width100">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type='button' ng-click="incrementEC()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vaultCubes">Cubes put in the vault</label>
                        <div class="input-group" name="vaultCubes">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-dark" type='button' ng-click="decrementVC()">
                                    <i class="material-icons">remove</i>
                                </button>
                            </div>
                            <input ng-model="formData.vaultCubes" type="number" class="form-control width100">
                            <div class="input-group-append">
                                <button class="btn btn-outline-dark" type='button' ng-click="incrementVC()">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" id="teleDefense" ng-model="formData.teleDefense" type="checkbox">
                            <label class="custom-control-label" for="teleDefense">Did this robot play defense?</label>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" id="teleCheck" ng-model="formData.teleCheck" type="checkbox">
                        <label class="custom-control-label" for="teleCheck">Did the robot climb or help others climb?</label>
                    </div>
                    <div ng-if="formData.teleCheck">
                        <div class="form-group" style="margin-top: 1rem">
                            <div class="custom-control custom-checkbox">
                                <input ng-model="formData.helpClimb" id="helpClimb" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="helpClimb">Did the robot deploy a ramp?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input ng-model="formData.rampClimb" id="rampClimb" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="rampClimb">Did the robot climb a ramp?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input ng-model="formData.barClimb" id="barClimb" class="custom-control-input" type="checkbox">
                                <label class="custom-control-label" for="barClimb">Did the robot climb the bar?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="otherClimb">Other</label>
                            <textarea ng-model="formData.otherClimb" name="otherClimb" class="form-control" rows="3" placeholder="Any notable information about how the robot climbed the bar, someone's ramp, etc."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Other Panel: -->
            <div class="card">
                <h5 class="card-header">Other</h5>
                <div class="card-body">
                    <div class="form-group">
                        <label for="score">
                            Score
                        </label>
                        <input ng-model="formData.score" type="number" id="score" name="score" class="form-control" placeholder="Enter the alliance's score"
                            required>
                    </div>
                    <label for="comment">Comments</label>
                    <textarea ng-model="formData.comment" name="comment" class="form-control" rows="3" placeholder="Comment on the robot's strategy, failures, human players, power ups used, fouls, etc."
                        required></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button id="submitButton" class="btn btn-block btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
