<div class="container-fluid">
	<style>
		th {
			cursor: ns-resize;
		}
	</style>
	<div class="form-group">
		<label for="scoutTeam">Scouted by:</label>
		<select id="scoutTeam"
				class="form-control"
				ng-model="currentTeam"
				ng-change="loadData(currentTeam.team_number)"
				ng-options="team as (team.team_number + ' - ' + team.team_name) for team in teams track by team.team_number">
		</select>
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Filter by team number or name" ng-model="search">
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-click="sortType = 'team'; sortReverse = !sortReverse">Team
						<span ng-show="sortType == 'team' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
						<span ng-show="sortType == 'team' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th ng-click="sortType = 'name'; sortReverse = !sortReverse">Team name
						<span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
						<span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th ng-click="sortType = 'avgScore'; sortReverse = !sortReverse">Average Score
						<span ng-show="sortType == 'avgScore' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
						<span ng-show="sortType == 'avgScore' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th ng-click="sortType = 'avgSpeed'; sortReverse = !sortReverse">Avg Speed (1-5)
							<span ng-show="sortType == 'avgSpeed' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
							<span ng-show="sortType == 'avgSpeed' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th ng-click="sortType = 'canClimb'; sortReverse = !sortReverse">Can Climb?
							<span ng-show="sortType == 'canClimb' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
							<span ng-show="sortType == 'canClimb' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
					<th ng-click="sortType = 'sumCube'; sortReverse = !sortReverse">Total Cubes Placed
							<span ng-show="sortType == 'sumCube' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
							<span ng-show="sortType == 'sumCube' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in data | orderBy:sortType:sortReverse | filter:filterTeams">
					<td><a href="#/team/{{row.team_number}}">{{row.team_number}}</a></td>
					<td><a href="#/team/{{row.team_number}}">{{row.team_name}}</a></td>
					<td>{{row.avg_score | number:2}}</td>
					<td></td>
					<td><span class="glyphicon glyphicon-ok" ng-show="row.bar_climb" style="color:green"></span><span class="glyphicon glyphicon-remove danger" ng-show="!row.bar_climb" style="color:red"></span></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>