<div class="container-fluid">
   <div ng-show="error != ''">
		<h1 class="text-center">{{error}}</h1>
	</div>
    <div ng-show="error == ''">
    	<h2 class="page-header">Team {{teamNumber}}, {{data.teamInfo.name}}
    	   <br/>
    	   <small>Robot name: {{data.teamInfo.robotName}}</small>
    	   <br/>
    	   <br/>
    	    <a class="small" ng-href="#/team/{{teamNumber}}">{{data.teamInfo.name}}'<span ng-show="data.teamInfo.name[data.teamInfo.name.length - 1] != 's'">s</span> match data</a>
    	</h2>
    	<div class="container-fluid" ng-show="!noPictures">
    	    <div class="row" ng-show="pitData.pictures.length > 1">
    	        <div class="col-xs-4">
    	            <button type="button" ng-click="previousPicture()" class="pull-left btn btn-link">
    	                <span class="glyphicon glyphicon-arrow-left"></span> Previous Picture
    	            </button>
    	        </div>
    	        <div class="col-xs-4 col-xs-offset-4">
    	            <button type="button" ng-click="nextPicture()" class="pull-right btn btn-link">
    	                Next Picture
    	                <span class="glyphicon glyphicon-arrow-right"></span>
    	            </button>
    	        </div>
    	    </div>
    	    <div class="center-block">
    	        <img id="pitPicture" ng-src="pics/{{teamNumber}}/{{pitData.pictures[picIndex].pictureNumber}}.jpg" class="img-responsive" alt="What? Where's the picture?!?">
    	        <small>Taken by {{pitData.pictures[picIndex].photographer}} {{pitData.pictures[picIndex].timeStamp}}</small>
    	    </div>
    	</div>
    	<div class="container-fluid" ng-show="noPictures">
    	    <p class="lead text-danger">No pictures are available of this team's pit</p>
    	</div>
    	<br/>
    	<fieldset>
    	    <legend>Comments</legend>
    	    <div class="container-fluid" ng-repeat="comment in pitData.comments">
    	        <div class="row">
    	            <p>{{comment.comment}}</p>
    	            <p>-- {{comment.commenter}}, {{comment.timeStamp}}
    	                <hr/>
    	        </div>
    	    </div>
    	    <div class="container-fluid" ng-show="noComments">
    	        <p class="text-danger lead">No comments are available for this team's pit</p>
    	    </div>
    	</fieldset>
    </div>
</div>