<div class="container-fluid">
    <h1>Welcome To the Yeti Scouting page</h1>
    <div ng-show="showRedirectMessage" role="alert" class="alert alert-danger alert-dismissible">
        <button type="button" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>You must be logged in to scout or place a bet</strong>
    </div>
    <div class="form-group">
        <input type="text" name="username" class="form-control" id="username" aria-label="..." placeholder="Enter a Username" ng-model='username'>
        <input type="password" name="password" class="form-control" id="password" aria-label="..." placeholder="Enter a new password" ng-model="password">
        <input type="password" name="password" class="form-control" id="password" aria-label="..." placeholder="Confirm your new password" ng-model="confirmPassword">
    </div>
    <div class="form-group">
        <button type="button" ng-click="validate() ? register() : ''" class="btn btn-block btn-primary">Submit Registration</button>
    </div>
</div>