<style>
	.error-header {
		background-color: #d9534f;
	}

	.confirm-header {
		background-color: #337ab7;
	}

	.slider-selection {
		background: #0AA2F4;
	}

	.slider-handle.custom {
		background: transparent none;
		background: url("images/ByteCoin.png") 0px 0px/20px 20px;
	}

	.slider-handle.custom::before {
		color: transparent;
	}
</style>
<script>
	$(document).ready(function () {
		$('#byteCoinsWagered').slider({
			formatter: function (value) {
				return 'Byte Coins: ' + value;
			}
		});
		$('#withenPoints').slider({
			formatter: function (value) {
				return 'Withen Points: ' + value;
			}
		});
		$('#pointsPredicted').slider({
			formatter: function (value) {
				return 'Minumum Points: ' + value;
			}
		});
	});
</script>
<!--error modal-->
<div id="errorModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="error-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>Error <span class="glyphicon glyphicon-exclamation-sign"></span></div>
			<div class="modal-body">{{lastError}}</div>
		</div>
	</div>
</div>

<div id="confirm-wager-modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="confirm-header modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><span style="color:white;">Confirm</span>
			</div>
			<div class="modal-body">
				<label for="wageredByteCoins">How many ByteCoins would you like to wager? </label>
				<input id="byteCoinsWagered" type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="0" name="wageredByteCoins" data-slider-handle="custom" ng-model="currentWager.wageredByteCoins" />
				<table class="table table-hover table-condensed table-bordered">
					<tbody>
						<tr>
							<td>Byte Coins this wager would cost you:</td>
							<td>{{currentWager.wageredByteCoins}}</td>
						</tr>
						<tr>
							<td>Multiplier (calculated from your wager type):</td>
							<td>{{currentWager.getMultiplier()}}</td>
						</tr>
						<tr>
							<td>Byte Coins this wager could win you:</td>
							<td>{{currentWager.getValue()}}</td>
						</tr>
						<tr>
							<td>Net Byte Coin profit:</td>
							<td>{{currentWager.getValue() - currentWager.wageredByteCoins}}</td>
						</tr>
						<tr>
							<td>Byte Coins left after wager:</td>
							<td>{{byteCoins - currentWager.wageredByteCoins}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="sendWager()">Send Wager</button>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid" >
	<!--common wagering info-->
	<fieldset>
		<legend>Your Byte Coins: {{byteCoins}}</legend>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary" ng-click="currentWager.wagerType = 'alliance'">Predict a match winner
				<input class="ng-hide" type="radio" value="alliance">
			</label>
			<label class="btn btn-primary" ng-click="currentWager.wagerType = 'closeMatch'">Predict a close game
				<input class="ng-hide" type="radio" value="closeMatch">
			</label>
			<label class="btn btn-primary" ng-click="currentWager.wagerType = 'points'">Predict minimum points in a match
				<input class="ng-hide" type="radio" value="points">
			</label>
		</div>
	</fieldset>
	<fieldset ng-show="currentWager.wagerType === 'alliance'">
		<legend>Make a wager on an alliance!</legend>
		<label for="match">What match do you want to wager for?</label>
		<select class='form-control' name="match" id="match" ng-model="currentWager.matchPredicted">
			<option ng-repeat="match in NCRE.Schedule" value="{{match.matchNumber}}">{{"Match:" + match.matchNumber + " " + toOptionLabel(match.Teams)}}</option>
		</select>
		<br/>
		<label for="alliancePredicted">Who do you think will win?</label>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-danger" ng-click="currentWager.alliancePredicted = 'red'">Red Alliance
				<input class="ng-hide" type="radio" ng-click="currentWager.alliancePredicted">
			</label>
			<label class="btn btn-primary" ng-click="currentWager.alliancePredicted = 'blue'">Blue Alliance
				<input class="ng-hide" type="radio" ng-model="currentWager.alliancePredicted">
			</label>
		</div>
	</fieldset>

	<fieldset ng-show="currentWager.wagerType === 'closeMatch'">
		<legend>Predict a close game</legend>
		<label for="match">What match do you want to wager for?</label>
		<select class='form-control' name="match" id="match" ng-model="currentWager.matchPredicted">
			<option ng-repeat="match in NCRE.Schedule" value="{{match.matchNumber}}">{{"Match:" + match.matchNumber + " " + toOptionLabel(match.Teams)}}</option>
		</select>
		<br/>
		<div class="row">
			<div class="col-md-4">
				<label for="pointsWithen">How many points do you think the alliances will be within?</label>
			</div>
			<div class="col-md-2">
				<input id="withenPoints" type="text" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="50" name="pointsWithen" ng-model="currentWager.withenPoints" />
			</div>
		</div>
	</fieldset>

	<fieldset ng-show="currentWager.wagerType === 'points'">
		<legend>Wager on minimum points scored</legend>
		<label for="match">What match do you want to wager for?</label>
		<select class='form-control' name="match" id="match" ng-model="currentWager.matchPredicted">
			<option ng-repeat="match in NCRE.Schedule" value="{{match.matchNumber}}">{{"Match:" + match.matchNumber + " " + toOptionLabel(match.Teams)}}</option>
		</select>
		<br/>
		<div class="row">
			<div class="col-md-4">
				<label for="pointsPredicted">Points the alliance will score</label>
			</div>
			<div class="col-md-2">
				<input id="pointsPredicted" data-slider-id='pointsPredictedSlider' type="text" data-slider-min="110" data-slider-max="300" data-slider-step="1" data-slider-value="1100" name="pointsPredicted" ng-model="currentWager.minPointsPredicted" />
			</div>
		</div>

		<label for="alliancePredicted">Which alliance?</label>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-danger" ng-click="currentWager.alliancePredicted = 'red'">Red Alliance
				<input class="ng-hide" type="radio" ng-click="currentWager.alliancePredicted">
			</label>
			<label class="btn btn-primary" ng-click="currentWager.alliancePredicted = 'blue'">Blue Alliance
				<input class="ng-hide" type="radio" ng-model="currentWager.alliancePredicted">
			</label>
		</div>
	</fieldset>
	<br>
	<div ng-show="currentWager.wagerType">
		<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirm-wager-modal">Make wager</button>
	</div>

</div>

<!-- won byte coins
	<div class="row" ng-show="currentWager.wagerType">
		<div class="col-md-4"><pre>Byte Coins this wager could win you: {{currentWager.getValue()}}</pre></div>
	</div>

	how many wagered
	 <div class="row">
			<div class="col-md-4">
				<label for="wageredByteCoins">How many ByteCoins would you like to wager?</label>
			</div>
			<div class="col-md-1">
				<input id="byteCoinsWagered" type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="0" name="wageredByteCoins" data-slider-handle="custom" ng-model="currentWager.wageredByteCoins" />
			</div>
		</div>

	    -->
